body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background-image:url('img/stage.jpg');
  background-size: 100% 100%;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: white;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  /* mc hammer */
  content:url('http://media0.giphy.com/media/3s7nLx9Gxhf32/giphy.gif');
  height: 180px;
  width: 80px;
  position:absolute;
}

.seconddancer {
  /* carlton */
  content:url('http://i.imgur.com/YdmGHYG.gif');
  height: 200px;
  width: 90px;
  position:absolute;
}

.thirddancer {
  /* JT */
  content:url('http://media.giphy.com/media/5xtDarsnabsdCQESUEw/giphy.gif');
  height: 250px;
  width: 150px;
  position:absolute;
}
